In [1]:
import pandas as pd
import numpy as np

In [23]:
ages=pd.Series([20,32,24,64,38,50,56,42,33,45,19,45,35])
income=pd.Series([15000,35000,27000,70000,50000,65000,68000,49000,41000,52000,23000,53000,42000])
dict={}
for i in range(0,13,1):
    dict[i]=i+1
df_age_salary=pd.DataFrame({"AGE":ages,"INCOME":income})
df_age_salary1=df_age_salary.rename(index=dict)
df_age_salary1

    AGE  INCOME
1    20   15000
2    32   35000
3    24   27000
4    64   70000
5    38   50000
6    50   65000
7    56   68000
8    42   49000
9    33   41000
10   45   52000
11   19   23000
12   45   53000
13   35   42000

In [29]:
#binning the above created ages series
ages=pd.Series([20,32,24,64,38,50,56,42,33,45,19,45,35])
bins=[13,19,30,40,50,60,70]
labels=["teenage","youth","middle-aged","adult","old","too old"]
age_bin=pd.cut(ages,bins,labels=labels)
age_bin

0           youth
1     middle-aged
2           youth
3         too old
4     middle-aged
5           adult
6             old
7           adult
8     middle-aged
9           adult
10        teenage
11          adult
12    middle-aged
dtype: category
Categories (6, object): ['teenage' < 'youth' < 'middle-aged' < 'adult' < 'old' < 'too old']

In [30]:
#using quintle
agebin=pd.qcut(ages,6,labels=)
agebin

0     (18.999, 24.0]
1       (24.0, 33.0]
2     (18.999, 24.0]
3       (50.0, 64.0]
4       (33.0, 38.0]
5       (45.0, 50.0]
6       (50.0, 64.0]
7       (38.0, 45.0]
8       (24.0, 33.0]
9       (38.0, 45.0]
10    (18.999, 24.0]
11      (38.0, 45.0]
12      (33.0, 38.0]
dtype: category
Categories (6, interval[float64, right]): [(18.999, 24.0] < (24.0, 33.0] < (33.0, 38.0] < (38.0, 45.0] < (45.0, 50.0] < (50.0, 64.0]]