In [36]:
print('print("hello") good morning ""\'');
a=10;
print("i am rakshi",a,"good");
print("hello"+"good")
a=int(input("enetr a"));
b=input();
c=float(input());
d=bool(input());
print(a,b,c,d)

print("hello") good morning ""'
i am rakshi 10 good
hellogood

enetr a 12
 12
 1123
 123

12 12 1123.0 True

AttributeError: 'str' object has no attribute 'length'

In [39]:
a=bool(0);
print(a);
a,b=10,20;
print(a,b);
a=b=c=20;
print(c)
b="hello";
#b.length;//'str' object has no attribute 'length'
print(len(b));

False
10 20
20
5

In [42]:
a,b=10,20;
b,a=a,b;
print(a,b);
print(a%b);
print(a/b,a//b);

20 10
0
2.0 2

In [142]:
#set
set1={1,2,3,4.5,"rakshi"};
print(set1);
s="rakshi";
set2=set(s);
print(set2);
l={1:"r",2:"k"};
set3=set(l);
print(set3);
set1.add("kolla");
set1.add(3)
print(set1)
print(set1.pop());
print(set1);
set1.discard(3);
print(set1);
set1.remove(2);
print(set1);
set0={1,2,32,42,456};
print(set0);
d=set0.copy();
print(d);
set0.pop();
print(set0);
print(d);
s=d;
print(d,s);
d.pop();
print(d,s);
print(sum(d));
print(sorted(d));
d.clear();
print(d);
s="rakshi";
d=set(s);
print(d);
d.update(["kolla"]);
d.update("zxy");
print(d);

{1, 2, 3, 4.5, 'rakshi'}
{'k', 'a', 'h', 'r', 'i', 's'}
{1, 2}
{1, 2, 3, 4.5, 'rakshi', 'kolla'}
1
{2, 3, 4.5, 'rakshi', 'kolla'}
{2, 4.5, 'rakshi', 'kolla'}
{4.5, 'rakshi', 'kolla'}
{32, 1, 2, 456, 42}
{32, 1, 2, 456, 42}
{1, 2, 456, 42}
{32, 1, 2, 456, 42}
{32, 1, 2, 456, 42} {32, 1, 2, 456, 42}
{1, 2, 456, 42} {1, 2, 456, 42}
501
[1, 2, 42, 456]
set()
{'k', 'a', 'h', 'r', 'i', 's'}
{'k', 'a', 'z', 'h', 'r', 'x', 'i', 'y', 'kolla', 's'}

In [180]:
#list
l=[1,2,3]
l.append("rakshi");
print(l);
l.extend("rakshi");
print(l);
l.extend({1,2});
print(l);
l.append({30,40});
print(l);
l.append([1,2,"kolla"]);
print(l)

[1, 2, 3, 'rakshi']
[1, 2, 3, 'rakshi', 'r', 'a', 'k', 's', 'h', 'i']
[1, 2, 3, 'rakshi', 'r', 'a', 'k', 's', 'h', 'i', 1, 2]
[1, 2, 3, 'rakshi', 'r', 'a', 'k', 's', 'h', 'i', 1, 2, {40, 30}]
[1, 2, 3, 'rakshi', 'r', 'a', 'k', 's', 'h', 'i', 1, 2, {40, 30}, [1, 2, 'kolla']]

In [144]:
#slicing
print(l[0]);
print(l[:]);
print(l[::]);
print(l[::-1]);
print(l[:-1:]);

1
[1, 2, 3, 'rakshi', 'r', 'a', 'k', 's', 'h', 'i', 1, 2, {40, 30}, [1, 2, 'kolla']]
[1, 2, 3, 'rakshi', 'r', 'a', 'k', 's', 'h', 'i', 1, 2, {40, 30}, [1, 2, 'kolla']]
[[1, 2, 'kolla'], {40, 30}, 2, 1, 'i', 'h', 's', 'k', 'a', 'r', 'rakshi', 3, 2, 1]
[1, 2, 3, 'rakshi', 'r', 'a', 'k', 's', 'h', 'i', 1, 2, {40, 30}]

In [181]:
print(l);
print(l[3][1]);
print(l.pop());
print(l.pop(1));#removes index 1 ele
print(l)
print(l.remove(1));#1 is removed not index
print(l)
l.insert(3,"rakshi");
print(l);
#print(l[1].sort());str int not support
print(l);
print(l.index("r"));
print(l.count("k"));
q=[1,2,34543,34532,323];
q.sort();
print(q);
q.reverse();
print(q);
print(sum(q));

[1, 2, 3, 'rakshi', 'r', 'a', 'k', 's', 'h', 'i', 1, 2, {40, 30}, [1, 2, 'kolla']]
a
[1, 2, 'kolla']
2
[1, 3, 'rakshi', 'r', 'a', 'k', 's', 'h', 'i', 1, 2, {40, 30}]
None
[3, 'rakshi', 'r', 'a', 'k', 's', 'h', 'i', 1, 2, {40, 30}]
[3, 'rakshi', 'r', 'rakshi', 'a', 'k', 's', 'h', 'i', 1, 2, {40, 30}]
[3, 'rakshi', 'r', 'rakshi', 'a', 'k', 's', 'h', 'i', 1, 2, {40, 30}]
2
1
[1, 2, 323, 34532, 34543]
[34543, 34532, 323, 2, 1]
69401

In [163]:
li=[[1,2,3],2,56,8];
li[0].pop();
print(li);
li[0].append("rakshi");
print(li);
print(li[0][2].isdigit());

[[1, 2], 2, 56, 8]
[[1, 2, 'rakshi'], 2, 56, 8]
False

In [177]:
#dictionaries
dict={1:[1,2],2:{1,2},"r":2};
print(dict);
print(dict.keys());
print(dict.values());
print(dict.items());
print(dict.get(1));
print(dict[1]);
dict.pop(1);
print(dict);
dict.popitem();
print(dict);
dict.update({1:[1,12,3,23]});
dict.update({"r":"rakshi"});
dict.update({2:(1,2,4)});
print(dict);
print(dict[1][0]);
print(dict[1].sort());
print(dict);
print(dict[1].pop());
print(dict);
print(dict);
print(dict);

{1: [1, 2], 2: {1, 2}, 'r': 2}
dict_keys([1, 2, 'r'])
dict_values([[1, 2], {1, 2}, 2])
dict_items([(1, [1, 2]), (2, {1, 2}), ('r', 2)])
[1, 2]
[1, 2]
{2: {1, 2}, 'r': 2}
{2: {1, 2}}
{2: (1, 2, 4), 1: [1, 12, 3, 23], 'r': 'rakshi'}
1
None
{2: (1, 2, 4), 1: [1, 3, 12, 23], 'r': 'rakshi'}
23
{2: (1, 2, 4), 1: [1, 3, 12], 'r': 'rakshi'}
{2: (1, 2, 4), 1: [1, 3, 12], 'r': 'rakshi'}
{2: (1, 2, 4), 1: [1, 3, 12], 'r': 'rakshi'}

In [193]:
#tuple
t=(1,2,[12.3,34],1,2);
print(t);
t[2].pop();
print(t);
#t.pop(); error
print(t.count(1));
print(t.index(2));
print(t*2);
t1=t*2;
print(t1);

(1, 2, [12.3, 34], 1, 2)
(1, 2, [12.3], 1, 2)
2
1
(1, 2, [12.3], 1, 2, 1, 2, [12.3], 1, 2)
(1, 2, [12.3], 1, 2, 1, 2, [12.3], 1, 2)

In [198]:
#string
str="kollarakshi"
print(str.isalpha());#a to z A to Z
print(str.isdigit());# 0 to 9
print(str.isalnum());#AtoZ a to z 0 to 9
str="kolla rakshi1"
print(str.isalpha());
print(str.isdigit());
print(str.isalnum());

True
False
True
False
False
False

In [213]:
print(str.lower());
print(str.upper());
print(str.strip());
print(str)
str1=str.split();
print(str1);
print(str.replace("k","K"));
print(str.find("k"));
print(str.count("l"));
print(str.index("k"));
str1="rakshi";
str2="Rakshi";
print(str1==str2);
print(str1>str2);
print(str1<str2);
print(str);

kolla rakshi1
KOLLA RAKSHI1
kolla rakshi1
kolla rakshi1
['kolla', 'rakshi1']
Kolla raKshi1
0
2
0
False
True
False
kolla rakshi1

In [214]:
if(2>3):
    print("truye")

In [215]:
if(2>3):
    print("truye")
else:
    print("false")

false

In [216]:
if(2>3):
    print("greater")
elif(2<3):
    print("less")

less

In [218]:
if(2>3):
    print("greater")
elif(2<3):
    print("less")
else:
    print("equal")
    #break cannot be used ouside loop

SyntaxError: 'break' outside loop (4084118345.py, line 7)

In [155]:
print("hello\nrakshi\thello",3);

hello
rakshi	hello 3