In [14]:
## aggregate function in pandas
## aggregate() method allows you to apply a function or a list of function names to bo executed along onew of the axis of dataframe,default is 0 (i.e row)

In [15]:
## agg() is alias for aggregate()

In [19]:
## syntax
## dataframe.aggreagte(func,axis,args,kwargs)
## func it requries func name or list of function names to aplly to dataframe
## axis 0-row  1-columns
##  return value is series or datafarme object with changes
## most frequently used aggragations are sum,min,max

In [20]:
import pandas as pd
import numpy as np

In [21]:
data={
    "x":[50,40,30],
    "y":[300,1112,42],
    "z":[12,23,34]
}
data

{'x': [50, 40, 30], 'y': [300, 1112, 42], 'z': [12, 23, 34]}

In [22]:
df=pd.DataFrame(data)
df

    x     y   z
0  50   300  12
1  40  1112  23
2  30    42  34

In [23]:
df.aggregate(["sum"])

       x     y   z
sum  120  1454  69

In [25]:
df=pd.read_csv("nba.csv")
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df.aggregate("sum")

TypeError: can only concatenate str (not "int") to str